/* Header */
.header {
    height: 80vh;
    position: relative;
}

.header .nav-bar {
    padding: 2rem 1rem;
}

.header .nav-bar .no-display {
    display: none;
}

.display {
    flex-direction: column;
    position: absolute;
    background: white;
    top: 18%;
    left: 0.5em;
    width: 87%;
    margin: 0 1rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
}

.header .nav-bar ul li {
    padding: 1.5rem 0;
}

.header .nav-bar ul li a{
    font-size: 22px;
    padding: 1rem 2rem;
    color: var(--dark-greyish-blue-text);
    
}

.header .nav-bar ul li a:hover {
    background: hsl(51, 100%, 49%);
    border-radius: 2rem;
    color: #000;
}

.header .nav-bar .hamburger {
    display: flex;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: 
        "ti ti"
        "tt tt"
        "si si"
        "st st"
        "ap ap"
        "or or"
        "customer customer"
        "im1 im2"
        "im3 im4";
}

.main .transform-text {
    width: 100%;
    padding: 4rem 2rem;
    text-align: center;
    line-height: 1.7;
}

.main .transform-text h3 {
    line-height: 1.2;
}

.main .transform-text .btn {
    text-align: center;
}

.main .transform-text .btn::after {
    left: 28%;
    bottom: 0;
}

.main .transform-img {
    height: 50vh;
}

/* Stand out */
.main .stand-out-text {
    width: 100%;
    padding: 4rem 2rem;
    text-align: center;
    line-height: 1.7;
}

.main .stand-out-text h3 {
    line-height: 1.2;
}

.main .stand-out-text a {
    text-align: center;
}

.main .stand-out-text a::after {
    right: 28%;
    bottom: 0;
}

.main .stand-out-img {
    height: 50vh;
}

/* Graphic Design */
.main .apple {
    height: 65vh;
    width: 100%;
    padding: 4rem 1rem;
}

.main .apple h3 {
    font-size: 28px;
}

.main .apple p {
    font-size: 15px;
}

/* Photography */
.main .orange {
    height: 65vh;
    width: 100%;
    padding: 4rem 1rem;
}

.main .orange h3 {
    font-size: 28px;
}

.main .orange p {
    font-size: 15px;
}

/* Testimonials */
.main .testimonials .testimonial-flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 1.5rem;
}

.main .testimonials h3 {
    padding-top: 4rem;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    font-size: 18px;
}

.main .testimonials .testimonial-flex .testimonial {
    padding: 0.5rem;
}