@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
    --ff1: 'Fraunces', serif;
    --ff2: 'Barlow', serif;

    --primary-light-blue: hsl(198, 81%, 61%);
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan-graphic: hsl(167, 40%, 24%);
    --dark-blue-photograhy: hsl(198, 62%, 26%);
    --dark-cyan-footer: hsl(168, 34%, 41%);
    --dark-greyish-blue-text: hsl(232, 10%, 55%);
    --very-dark-greyish-blue-text: hsl(213, 9%, 39%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Barlow', serif;
    font-size: 18px;
}

/* Utility Classe */
h1, h2, h3 {
    font-family: var(--ff1);
}

h1 {
    padding: 3rem 0;
    text-transform: uppercase;
    word-spacing: 0.2em;
    letter-spacing: 0.2em;
}

h3 {
    padding-bottom: 2rem;
}

.text-align {
    text-align: center;
}

/* Body */
/* Nav-Bar */
.header {
    background: url('css/images/desktop/image-header.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    color: hsl(0, 0%, 100%);
}
.header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header .nav-bar ul {
    display: flex;
    list-style: none;
}

.header .nav-bar ul li a {
    padding: 0.75rem 2rem;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.header .nav-bar ul li a:hover {
    background: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    color: #000;
}

.header .nav-bar .hamburger {
    display: none;
}

/* Main */

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "tt tt ti ti"
        "si si st st"
        "ap ap or or"
        "customer customer customer customer"
        "im1 im2 im3 im4";
}
/* Transform */
.main .transform-text {
    grid-area: tt;
    padding: 0 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .transform-text h3 {
    font-size: 35px;
}

.main .transform-text p {
    padding-bottom: 2rem;
    color: var(--dark-greyish-blue-text);
}

.main .transform-text .btn {
    position: relative;
    font-family: var(--ff1);
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    color: black;
}

.main .transform-text .btn::after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 0;
    background: var(--yellow);
    height: 0.4em;
    width: 7.5em;
    border-radius: 1rem;
    z-index: -1;
}

.main .transform-img {
    background: url("/css/images/desktop/image-transform.jpg") no-repeat center center/cover;
    grid-area: ti;
    height: 500px;
}

/* Stand out */
.main .stand-out-img {
    background: url("/css/images/desktop/image-stand-out.jpg") no-repeat center center/cover;
    grid-area: si;
    height: 500px;
}

.main .stand-out-text {
    grid-area: st;
    padding: 0 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .stand-out-text h3 {
    font-size: 35px;
}

.main .stand-out-text p {
    padding-bottom: 2rem;
    color: var(--dark-greyish-blue-text);
}

.main .stand-out-text a {
    position: relative;
    font-family: var(--ff1);
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    color: black;
}

.main .stand-out-text a::after {
    content: "";
    position: absolute;
    right: -4px;
    bottom: 0;
    background: var(--soft-red);
    height: 0.4em;
    width: 7.5em;
    border-radius: 1rem;
    z-index: -1;
}

/* Graphic Design */
.main .apple{
    grid-area: ap;
    background: url("/css/images/desktop/image-graphic-design.jpg") no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10rem;
    padding-bottom: 4rem;
    color: var(--dark-cyan-graphic);
}

/* Photography */
.main .orange {
    grid-area: or;
    background: url("/css/images/desktop/image-photography.jpg") no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10rem;
    padding-bottom: 4rem;
    color: var(--dark-blue-photograhy);
}

/* Testimonials */
.main .testimonials {
    grid-area: customer;
}

.main .testimonials .testimonial-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 6rem;
}

.main .testimonials h3 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 6rem;
    word-spacing: 0.7em;
    letter-spacing: 0.2em;
    color: var(--dark-greyish-blue-text);
}

.main .testimonials .testimonial-flex .testimonial {
    padding: 2rem;
    text-align: center;
}

.main .testimonials .testimonial-flex .testimonial img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.main .testimonials .testimonial-flex .testimonial p:nth-child(2) {
    color: var(--very-dark-greyish-blue-text);
    padding: 2rem 0;
}

.main .testimonials .testimonial-flex .testimonial p:nth-child(3) {
    font-family: var(--ff1);
    padding-bottom: 0.5rem;
}

.main .testimonials .testimonial-flex .testimonial p:nth-child(4) {
    color: var(--dark-greyish-blue-text);
    padding-bottom: 2rem;
}




/* Images */
.main .img1 {
    grid-area: im1;
    background: url("/css/images/desktop/image-gallery-milkbottles.jpg") no-repeat center center/cover;
    height: 300px;
}

.main .img2 {
    grid-area: im2;
    background: url("/css/images/desktop/image-gallery-orange.jpg") no-repeat center center/cover;
    height: 300px;;
}

.main .img3 {
    grid-area: im3;
    background: url("/css/images/desktop/image-gallery-cone.jpg") no-repeat center center/cover;
    height: 300px;;
}

.main .img4 {
    grid-area: im4;
    background: url("/css/images/desktop/image-gallery-sugarcubes.jpg") no-repeat center center/cover;
    height: 300px;;
}

/* Footer */
.footer {
    background: hsl(168, 54%, 73%);
    padding: 3rem;
    text-align: center;
}

.footer h3 {
    font-family: var(--ff2);
    color: var(--dark-cyan-footer);
    font-size: 30px;
    font-weight: bolder;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer .links {
    margin-bottom: 4rem;
}

.footer .links li a {
    padding: 2rem;
    text-decoration: none;
    color: var(--dark-cyan-footer);
}

.footer .links li a:hover {
    color: hsl(0, 0%, 100%);
}

.footer .socials li img {
    padding: 1rem;
    text-decoration: none;
}

.footer .socials li img:hover {
    color: hsl(0, 0%, 100%);
}